# Default registry (npmjs)
registry=https://registry.npmjs.org/
@eduardoac:registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# GitHub Packages (uncomment to publish)
registry=https://npm.pkg.github.com/
@eduardoac:registry=https://npm.pkg.github.com/
always-auth=true
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
