name: Deploy website to Cloudflare Pages

on:
  push:
    branches:
      - main
    paths:
      - "website/**"
      - ".github/workflows/deploy-website.yml"
  workflow_dispatch:

jobs:
  deploy:
    name: Publish static site
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Go to Website
        run: 'cd website'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          NEXT_PUBLIC_BASE_URL: https://genxapi.dev

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./website/dist --project-name ${{secrets.CLOUDFLARE_PROJECT_NAME}} --branch main
